<!-- Lastly modified by Hanlin CAI in 2023/04/26 -->
<!-- It is not recommended to modify this code, unless you are a Pro-->

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% include head.html %}

<script src="https://cdn.counter.dev/script.js" data-id="4c8f7caa-2b55-46cd-a995-2c4633303773" data-utcoffset="8"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T5N5JY1E21"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T5N5JY1E21');
</script>

</head>


<body class="page" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}

{% include navigation.html %}

{% if page.image.feature %}<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
</div><!-- /.image-wrap -->{% endif %}

<div id="main" role="main"  itemprop="mainContentOfPage">
  <div class="article-author-top">
    {% include author-bio.html %}
  </div>
  <article itemscope itemtype="http://schema.org/CreativeWork">
  {% comment %}
    <div class="headline-wrap">
      <h1 itemprop="headline">{{ page.title }}</h1>
    </div><!--/ .headline-wrap -->
  {% endcomment %}
    <div class="article-wrap" itemprop="text">
      {{ content }}
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<head>
    <style>
        .maps-container {
            display: flex;
            justify-content: space-between;
            width: 80%; /* 设置地图容器的宽度为网页宽度的80% */
            margin: 0 auto; /* 居中显示地图容器 */
        }
        .map {
            flex: 1; /* 每个地图元素占用等量的空间 */
            padding: 10px; /* 添加一些内边距 */
        }
    </style>
</head>
<body>
    <div class="maps-container">
        <div class="map">
            <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5t83cjyb8x5&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
        </div>
        <div class="map">
            <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=63lt3u27mRTSNL9Daqqqamyu4oYVlab8Wji73yBoEHk&cl=ffffff&w=a"></script>
        </div>
    </div>
</body>

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>
